In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/scraped_earthquakes.csv')

In [4]:
df

,Date & Time UTC,Lat. degrees,Lon. degrees,Depth km,Region,Type,A/M,Magnitude,Network
0,2025-04-01 23:59:55.8,26.467,128.814,10,"RYUKYU ISLANDS, JAPAN",origin,A,5.1,SC4
1,2025-04-01 23:59:55.0,26.210,128.630,10,"RYUKYU ISLANDS, JAPAN",origin,A,5.1,BEO
2,2025-04-01 23:59:54.7,26.118,128.556,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.1,GFZ
3,2025-04-01 23:59:54.1,26.060,128.500,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.1,AUST
4,2025-04-01 23:59:53.7,26.020,128.510,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.2,GSRAS
...,...,...,...,...,...,...,...,...,...
421314,2019-06-09 05:00:15.1,53.329,6.833,1,THE NETHERLANDS,origin,M,2.0,BGR
421315,2019-06-09 05:00:15.1,53.329,6.833,1,THE NETHERLANDS,origin,M,2.0,BGR
421316,2019-06-09 05:00:15.1,53.329,6.833,1,THE NETHERLANDS,origin,M,2.0,BGR
421317,2019-06-09 05:00:15.1,53.329,6.833,1,THE NETHERLANDS,origin,M,2.0,BGR
421318,2019-06-09 05:00:15.0,53.320,6.770,3,THE NETHERLANDS,origin,M,2.5,KNMI