In [72]:
#Importamos las librerias necesarias para el etl.
import pandas as pd
import os
from pathlib import Path

In [50]:
#Cargamos el archivo csv en un dataframe de pandas.

import pandas as pd

# Obtener la ruta del archivo .py
current_dir = Path(__file__).resolve().parent

# Construir la ruta relativa al archivo CSV
csv_path = current_dir.parents[1] / 'data' / 'raw' / 'scraped_earthquakes.csv'

# Leer el archivo CSV
df = pd.read_csv(csv_path)

#Mostramos las primeras filas del dataframe.
df.head()

NameError: name '__file__' is not defined

In [79]:
import os
from pathlib import Path
import pandas as pd

# Obtener la ruta del directorio actual (sin usar __file__)
current_dir = Path(os.getcwd())  # Obtiene el directorio actual de trabajo

# Construir la ruta relativa al archivo CSV
csv_path = current_dir.parents[1] / 'data' / 'raw' / 'scraped_earthquakes.csv'

# Cargar el CSV
df = pd.read_csv(csv_path)

In [80]:
#mostrar la longitud de el dataframe.
print(len(df))

1350347

In [81]:
#Mostramos los tipos de datos de cada columna.
df.dtypes

Date & Time UTC     object
Lat. degrees       float64
Lon. degrees       float64
Depth km             int64
Region              object
Type                object
A/M                 object
Magnitude          float64
Network             object
dtype: object

In [82]:
#convertimos la columna Date & Time UTC a un objeto datetime.
df['Date & Time UTC'] = pd.to_datetime(df['Date & Time UTC'], format='%Y-%m-%d %H:%M:%S.%f', errors='coerce')

df.head(5)

,Date & Time UTC,Lat. degrees,Lon. degrees,Depth km,Region,Type,A/M,Magnitude,Network
0,2025-04-01 23:59:55.800,26.467,128.814,10,"RYUKYU ISLANDS, JAPAN",origin,A,5.1,SC4
1,2025-04-01 23:59:55.000,26.210,128.630,10,"RYUKYU ISLANDS, JAPAN",origin,A,5.1,BEO
2,2025-04-01 23:59:54.700,26.118,128.556,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.1,GFZ
3,2025-04-01 23:59:54.100,26.060,128.500,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.1,AUST
4,2025-04-01 23:59:53.700,26.020,128.510,10,"RYUKYU ISLANDS, JAPAN",origin,M,5.2,GSRAS

In [83]:
# Intentamos dividir la columna 'Region' por la coma y el espacio
split_columns = df['Region'].str.split(', ', expand=True)


# Verificamos si la división fue exitosa
if 1 in split_columns.columns:
    df['Country'] = split_columns[1]
else:
    df['Country'] = split_columns[0]  # Si no hubo división, mantenemos el valor original en 'Country'

df['Region'] = split_columns[0].fillna(df['Region'])  # Si no hubo división, mantenemos el valor original en 'Region'

In [84]:
#Eliminamos columnas innecesarias.
clean_df = df.drop(columns=['Type', 'Network', 'A/M'])
clean_df.head(5)

,Date & Time UTC,Lat. degrees,Lon. degrees,Depth km,Region,Magnitude,Country
0,2025-04-01 23:59:55.800,26.467,128.814,10,RYUKYU ISLANDS,5.1,JAPAN
1,2025-04-01 23:59:55.000,26.210,128.630,10,RYUKYU ISLANDS,5.1,JAPAN
2,2025-04-01 23:59:54.700,26.118,128.556,10,RYUKYU ISLANDS,5.1,JAPAN
3,2025-04-01 23:59:54.100,26.060,128.500,10,RYUKYU ISLANDS,5.1,JAPAN
4,2025-04-01 23:59:53.700,26.020,128.510,10,RYUKYU ISLANDS,5.2,JAPAN